__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
ENV/

.vscode/
.idea/
.DS_Store
Thumbs.db

build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

*.log
wandb/

models/*
!models/read.txt

submodules/*
!submodules/read.txt

celeb_output/

subjects/**/splat/
subjects/**/train_process/
subjects/**/process_videos/
subjects/**/videos/
subjects/**/test_six_views/
subjects/**/frontal_verification/
subjects/**/events.out.tfevents*
subjects/**/chkpnt*.pth

subjects/**/*.jpg
subjects/**/*.jpeg
subjects/**/*.png
subjects/**/*.mp4
subjects/**/*.mov
